body {
    background-color: #d7e3fc;
    font-family: 'Open Sans', Courier, monospace;
    margin:0%;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Mate SC', sans-serif;;
    letter-spacing: 8px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    font-size: 30px;
    color: #1b4965;
}

footer {
    background-color: #abc4ff;
    padding: 5px 0px;
}

#header{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.2)), url("images/mza3.jpg"); 
    background-size: cover;
    background-position: center;
    width: 100%;
}

.profile {
    border-radius: 80px;
    margin-top: 50px;
    box-shadow: 0 0 10px;
}

.ocupation {
    color: whitesmoke;
    font-weight: 800;
    padding-bottom: 10px;
    font-size: 24px;
}

#description {
    font-size: 1.4em;
    text-align: justify;
}

#description:hover {
    font-weight: bold;
    font-style: italic;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 50px;    
    width: 30%;
}

@media (max-width: 720px) {
    .card-container {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}

.card-content {
    padding: 10px;
}
.card-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card:hover {
    border: 5px solid #abc4ff;
    background-color: #e2eafc;
    font-weight: bold;
    color: #1b4965;
    font-style: italic;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
    border-bottom: 5px dotted #abc4ff;
    margin-bottom: 30px;
}

.icon {
    color:#5183fa;
    font-size: 1.5em;
}
